# B2S1. Edición de datos

## T1. Pasar de float a entero

* Primero generaremos un dato float 
* Luego usaremos el método para pasarlo a entero
* También veremos qué pasa cuando pasamos un dato que no es float y tratamos de aplicarle el método int

In [1]:
dato = 2.6

In [2]:
dato

2.6

In [4]:
type(dato)  #tratamos de obtener su tipo, recuerde que no se usa dtype, porque es para dataframes

float

In [5]:
import numpy as np
dir(dato)  #para ver los atributos de este objeto

['__abs__',
 '__add__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getformat__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__le__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__set_format__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 'as_integer_ratio',
 'conjugate',
 'fromhex',
 'hex',
 'imag',
 'is_integer',
 'real']

In [6]:
dato.is_integer()  #Indica que 'dato' no es entero

False

In [28]:
#La función int en Python corta el decimal y los números restantes de un flotante para crear un entero.
int(dato)

2

In [7]:
dato2=int(dato)
dato2.is_integer()  #Nos marca error, pero ya nos dice que es 'int'

AttributeError: 'int' object has no attribute 'is_integer'

In [32]:
dir(dato2)  #En efecto, no tiene el atributo is_integer

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

Ahora, constuiremos una variable de cadena y tratremos de pasarla a numérico

In [8]:
dato3 = 'Claudia'

In [9]:
dato3

'Claudia'

In [10]:
int(dato3)

ValueError: invalid literal for int() with base 10: 'Claudia'

In [11]:
Ahora, definimos un dato de cadena pero que sí es un número

SyntaxError: invalid syntax (<ipython-input-11-a88a6620a3ad>, line 1)

In [13]:
dato4 = '4'

In [14]:
dato4

'4'

In [15]:
float(dato4)

4.0

## T2. Pasar de cadena a numérico

* Primero generaremos un dato de cadena
* Luego usaremos el método para pasarlo de cadena a numérico
* También veremos qué pasa cuando pasamos un dato que no es cadena y tratamos de aplicarle el método

Usaremos el 'dato4' que se generó en la sección anterior.

Primero veamos qué pasa con una cadena cuando aplicamos operaciones aritméticas

Tome en cuenta que es una cadena de texto, aunque la veamos como un número

In [16]:
dato4 + dato4

'44'

In [17]:
2*dato4

'44'

In [18]:
dato4*3

'444'

Ahora, aplicamos el método int o float para transformar el dato ya sea en entero o flotante, respectivamente.

In [19]:
float(dato4)

4.0

In [20]:
2*int(dato4)

8

In [21]:
#Note lo que ocurre con
dato4 - dato4

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [22]:
int(dato4)-int(dato4)

0

In [23]:
#Ahora, tratemos de aplicar el método a dato3 que es una cadena de texto

In [24]:
dato3

'Claudia'

In [25]:
int(dato3)

ValueError: invalid literal for int() with base 10: 'Claudia'

In [26]:
float(dato3)

ValueError: could not convert string to float: 'Claudia'

## T3. Pasar de cadena a fecha

In [27]:
#Generalmente las fechas tienen un formato específico, el más común es el siguiente:
dato5='2021/07/21'

In [28]:
dato5

'2021/07/21'

In [29]:
from datetime import datetime
# Convertimos un string con formato <día>/<mes>/<año> en datetime
una_fecha = '20/04/2019'
fecha_dt = datetime.strptime(una_fecha, '%d/%m/%Y')
print(fecha_dt)

2019-04-20 00:00:00

In [30]:
from datetime import datetime
# Convertimos un string con formato <día>/<mes>/<año> en datetime
dato5='2021/07/21'
fecha_dt = datetime.strptime(dato5, '%Y/%m/%d')
print(fecha_dt)

2021-07-21 00:00:00

In [31]:
from datetime import datetime
# Convertimos un string con formato <día>/<mes>/<año> en datetime
dato5='2021-07-21'
fecha_dt = datetime.strptime(dato5, '%Y-%m-%d')
print(fecha_dt)

2021-07-21 00:00:00

## T4. Extraer información de un dato de cadena

In [ ]:
#La función strip quita elementos al inicio y al final, pueden ser caracteres, espacios
#por ejemplo, no se quitó la e porque está en medio y no al inicio o al final

In [5]:
dato3='Claudia'

In [33]:
string = '  xoxo love xoxo   '

# Leading and trailing whitespaces are removed
print(string.strip())

# All <whitespace>,x,o,e characters in the left
# and right of string are removed
print(string.strip(' xoe'))

# Argument doesn't contain space
# No characters are removed.
print(string.strip('stx'))

string = 'android is awesome'
print(string.strip('an'))

xoxo love xoxo
lov
  xoxo love xoxo
droid is awesome

In [6]:
print(dato3.strip('dia'))

Clau

In [7]:
help(dato3.strip)

Help on built-in function strip:

strip(chars=None, /) method of builtins.str instance
    Return a copy of the string with leading and trailing whitespace removed.

    If chars is given and not None, remove characters in chars instead.

## T5. Contrastes que regresan datos booleanos

In [35]:
dato4 == '4'

True

In [36]:
dato4 == 4

False

In [37]:
2*dato4 == '44'

True

In [38]:
dato4 != '4'

False