In [ ]:
#Calcularemos el apha de Cronbach usando la librería penguin
# Basado en: https://pypi.org/project/psython/

In [3]:
#!pip install psython

Collecting psython
  Downloading psython-0.0.16-py3-none-any.whl (4.6 kB)
Installing collected packages: psython
Successfully installed psython-0.0.16

In [6]:
#!pip install prettytable

Collecting prettytable
  Downloading prettytable-2.2.0-py3-none-any.whl (23 kB)
Requirement already satisfied: wcwidth in c:\users\jgeis\anaconda3\lib\site-packages (from prettytable) (0.2.5)
Installing collected packages: prettytable
Successfully installed prettytable-2.2.0

In [1]:
#Carga de paquetes:
import pandas as pd
import psython as psy

In [2]:
#Cargamos unos datos del Evaluation Testing Service
df_features02 = pd.read_csv('https://raw.githubusercontent.com/claudianila/MiRepoCS/main/Data/test02.csv', index_col=0)
df_features02.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1678 entries, 2 to 1
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   zygosity  1678 non-null   int64
 1   moed      1678 non-null   int64
 2   faed      1678 non-null   int64
 3   faminc    1678 non-null   int64
 4   english   1678 non-null   int64
 5   math      1678 non-null   int64
 6   socsci    1678 non-null   int64
 7   natsci    1678 non-null   int64
 8   vocab     1678 non-null   int64
dtypes: int64(9)
memory usage: 131.1 KB

In [3]:
#Alpha de cronbach
#Basado en: https://pingouin-stats.org/generated/pingouin.cronbach_alpha.html
import pingouin as pg
pg.cronbach_alpha(data=df_features02)

(0.8217171185271617, array([0.809, 0.834]))

In [4]:
#Para valores perdidos
pg.cronbach_alpha(data=df_features02, nan_policy='listwise')

(0.8217171185271617, array([0.809, 0.834]))

In [5]:
#Ahora, para datos con formato largo:
data = pg.read_dataset('cronbach_alpha')
pg.cronbach_alpha(data=data, items='Items', scores='Scores',
                  subject='Subj')

(0.5917188485995826, array([0.195, 0.84 ]))

In [6]:
data

     Subj Items  Scores
0       0    Q1       3
1       1    Q1       5
2       2    Q1       7
3       3    Q1       2
4       4    Q1       6
..    ...   ...     ...
145    10   Q10       1
146    11   Q10       4
147    12   Q10       5
148    13   Q10       5
149    14   Q10       4

[150 rows x 3 columns]

In [7]:
psy.cronbach_alpha_scale_if_deleted(df_features02)

[(0.8217171185271617, array([0.809, 0.834])),
        Item  Scale Mean if Item Deleted  Scale Variance if Item Deleted  \
 0  zygosity                  112.167461                      548.758464
 1      moed                  110.222288                      532.790749
 2      faed                  110.063766                      523.152163
 3    faminc                  110.575089                      523.780584
 4   english                   93.881406                      398.725939
 5      math                   92.411204                      348.010894
 6    socsci                   92.992253                      377.804949
 7    natsci                   93.575089                      359.546833
 8     vocab                   92.597735                      384.345540

    Corrected Item-Total Correlation  Cronbach's Alpha if Item Deleted
 0                          0.035658                          0.834665
 1                          0.255180                          0.828549
 2                          0.327333                          0.824706
 3                          0.295546                          0.825817
 4                          0.694649                          0.780326
 5                          0.693022                          0.785600
 6                          0.781835                          0.766435
 7                          0.722720                          0.776445
 8                          0.760238                          0.770156  ]

In [8]:
result = psy.split_half_reliability(df_features02)

In [9]:
result

[0.6562678072987987,
 0.7924658130850272,
 0.43,
 0.871,
 <prettytable.prettytable.PrettyTable at 0x275f5dc8040>]

In [10]:
print(result[4])

+------------------+--------+---------------------+------+
| Cronbach's Alpha | Part 1 | Value               |  .43 |
|                  |        | N of Items          |    5 |
|                  | Part 2 | Value               | .871 |
|                  |        | N of Items          |    4 |
|                  |        | Total N of Items    |    9 |
|                  |        | Correlation Between | .656 |
|                  |        | Forms               |      |
| Spearman-Brown   |        | Equal Length        | .792 |
| Coefficient      |        |                     |      |
+------------------+--------+---------------------+------+